.center {
    text-align: center;
  }
  
  .table {
    margin-top: 5rem;
    padding-top: 5rem;
  }
  
  .table th,
  .table td  {
    text-align: center;
    background-color: aquamarine;
    
  }
  