


<!-- section for head -->

<section class="container mx-3 px-5 pt-5 pb-50">

  <div class="row pt-5">
    <div class="col-xxl-12">
      <h1 class="font-weight-bold " style="color: #010f1c;font-size: 50px;">Shopping Cart</h1>
      <div class="breadcrumb pb-5">
        <span class="breadcrumb-item"><a href="#" style="text-decoration:none;color: #A8ACB0;">Home</a></span>
        <span class="breadcrumb-item" style="color: #A8ACB0;">Shopping Cart</span>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid px-5 pt-95 pb-50">
  <div class="row g-5">

    <!-- section for body -->
    
    <!-- ----------------------------------------------------------------------------------------------------------------------------------- -->
    <section class="tp-cart-area pb-120">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-8">
            <div class="mb-25 mr-30">
              <table class="table">
                <thead style="background-color: #f1f3f4;">
                  <tr>
                    <th colspan="2" class="tp-cart-header-product">Product</th>
                    <th class="tp-cart-header-price mx-5">Price</th>
                    <th class="tp-cart-header-quantity">Quantity</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartItems;">
                    <!-- img -->
                    <td class="">
                      <a routerLink="/products/{{item.id}}">
                        <img src="{{item.thumbnail}}"
                          style="width: 78px; height: 100px; object-fit: cover; vertical-align: middle;" alt="img">
                      </a>
                    </td>
                    <!-- title -->
                    <td class="align-middle">
                      <a routerLink="/products/{{item.id}}" style="text-decoration: none;">
                        <p style="color: black;">
                          {{item.title | titlecase}}
                          <p>
                      </a>
                    </td>
                    <!-- price -->
                    <td class="align-middle">
                      <!-- <span>
                        <p class="fw-light px-2" style="text-decoration: line-through;">
                          ${{item.price}}
                        </p>
                      </span> -->
                      <span>
                        <p class="px-2">
                          {{ ((item.price)-(((item.discountPercentage)*(item.price))/100)) | currency: 'USD' }}
                        </p>
                      </span>
                      <!-- <span>
                        <p class="fw-light px-2" style="color: green;">
                          {{item.discountPercentage}}% Off
                        </p>
                      </span> -->
                    </td>

                    <!-- quantity -->
                    <td class="tp-cart-quantity align-middle">
                      <div class="tp-product-quantity mt-10 mb-10"
                        style="border: 2px solid #f1f3f4; border-radius: 2rem; width: 93px;">
                        <span class="tp-cart-minus">
                          <button class="btn btn-sm text-center" style="border: none;" (click)="decQuantity(item.id)">
                            <fa-icon [icon]="faSubtract" class="faSubtract"></fa-icon>
                          </button>
                        </span>
                        <input class="text-center pb-1 " style="width: 2rem;border:none;" type="email"
                          [value]=productQuantity[item.id-1]>
                        <span class="tp-cart-plus">
                          <button class="btn btn-sm text-center" style="border:none;" (click)="incQuantity(item.id)">
                            <fa-icon [icon]="faAdd" class="faSubtract"></fa-icon>
                          </button>
                        </span>
                      </div>
                    </td>
                    <!-- action -->
                    <td class="tp-cart-action align-middle">
                      <button class="btn" style="border: none;" (click)="remove(item.id)" data-bs-toggle="modal"
                        data-bs-target="#removeCart" onmouseover="this.style.transform = 'scale(1.6)'"
                        onmouseout="this.style.transform = 'scale(1.2)'">
                        <fa-icon [icon]="faTrash" class="faTrash" style="color: rgba(173, 17, 0, 0.89);"></fa-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">

            <div class="card px-3 py-3" style="box-shadow: 0px 30px 70px rgba(1, 15, 28, 0.1);border: none;">
              <div class="card-header bg-transparent row">
                <h5 class="col text-start fs-5">Subtotal</h5>
                <h5 class="col text-center mx-3 fs-6">{{totPrice| currency: 'USD'}}</h5>
              </div>
              <div class="card-body p-0 my-3 ">
                <ul>
                  <li>
                    <div class="row">
                      <h5 class="col text-start fs-6">Items</h5>
                      <p class="col text-center mx-3 fs-6">{{totalproduct}}</p>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <h5 class="col text-start fs-6">Delivery Charges</h5>
                      <p class="col text-center mx-3 fs-6" style="color: green;">Free</p>
                    </div>
                  </li>
                </ul>
                <p class="text-center mb-2 fs-6" style="color: rgb(140, 255, 127);">70% off (#megaBull's).</p>
                <div class="card-body pt-2">
                  <form class="input-group" [formGroup]="couponForm" (ngSubmit)="checkCoupon()">
                    <input type="email" class="form-control" placeholder="Coupon" formControlName="promo">
                    <button type="submit" class="btn btn-sm btn-success">Redeem</button>
                  </form>
                  <p class="text-center" style="color: orange;">{{applied}}</p>
                </div>
              </div>
              <div class="card-footer bg-transparent row py-3">
                <h5 class="col-6 text-start fs-5">Total</h5>
                <h5 class="col-6 text-center fs-6">{{totDiscPrice| currency: 'USD'}}</h5>
          
                  <h5 class="col-6 text-start fs-6 mt-2" style="color: green;">Saved</h5>
                  <h5 class="col-6 text-center fs-6 mt-2" style="color: green;">${{totPrice-totDiscPrice | number:'.2-2'}}</h5>
              
              </div>
              <a routerLink="/checkout">
                <div class="text-center">
                  <button class="btn w-100" style="background-color: #010f1c;" type="submit" (click)="checkout()"
                    onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <h5 class="text-center fs-6 m-0" style="color: white;">Continue to checkout</h5>
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- -------------------------------------------------------------------------------------------------------------------------------------- -->


    <!-- Modal For remove item -->
    <div class="modal fade" id="removeCart" tabindex="-1" aria-labelledby="removeCartLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="removeCartLabel">Remove Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to remove this item?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            <a href="http://localhost:4200/cart">
              <a ></a>
              <button type="button" data-bs-dismiss="modal" class="btn btn-danger"
                (click)="removeFromCart(this.itemId)">Remove</button></a>
          </div>
        </div>
      </div>
    </div>
    <!-- -------- -->
