<!-- <section class="container px-4 py-5 ">
</section>
<div class="position-absolute top-50 start-50 translate-middle py-5">
    <div class="card mb-3" style="width: 20rem; height: 20rem;">
        <div class="row g-0">
            <div class="col card text-center">
                <img src="{{arr.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col">
                <div class="card-body text-center">
                    <h5 class="card-title">First Name = {{arr.firstName}}</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">Last Name = {{arr.lastName}}</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">Miden Name={{arr.maidenName}}</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">Age = {{arr.age}}</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">BloodGroup= {{arr.bloodGroup}}</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">eyeColor = {{arr.eyeColor}}/5</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">Gender ={{arr.gender}}</h5>
                </div>
            </div>
            <div class="card-body card text-center">
                <p class="card-text">Address ={{arr.address.address}}.</p>
            </div>
        </div>
    </div>
</div> -->
<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<div *ngIf="isLoading===false">


    


    <section class="container">
        <h1 class="p-5 font-weight-bold " style="color: #010f1c;font-size: 50px;">Welcome, {{arr.company.title}}</h1>
        <div class="row mt-5">

            <div class="col-lg-3">
                <div class="card mb-3" style="box-shadow: 0px 30px 50px rgba(5, 47, 40, 0.12); border: none;">
                    <div class="card-img-top">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <div class="profile-picture" style="background-color:#010f1c">
                                    <img src="{{arr.image}}" alt="Profile Photo" class="rounded-circle">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h5 class="fs-6 p-3 fw-bold"><small>{{arr.firstName}} {{arr.lastName}}</small></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="fs-6 p-1"><small><span class="fw-bold">Age</span> : {{arr.age}}</small></h5>
                            <h5 class="fs-6 p-1"><small><span class="fw-bold">Email</span> : {{arr.email}}</small></h5>
                            <h5 class="fs-6 p-1"><small><span class="fw-bold">Phone</span> : {{arr.phone}}</small></h5>
                            <h5 class="fs-6 p-1"><small><span class="fw-bold">University</span> : {{arr.university}}</small></h5>
                            <p class="card-text pb-4"><small class="text-muted"><span class="fw-bold">Address</span> : {{arr.address.address}}
                                    {{arr.address.city}} {{arr.address.state}} {{arr.address.postalCode}}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="container" style="box-shadow: 0px 30px 50px rgba(5, 47, 40, 0.12); border: none;">
                    <h5 class="text-start fs-4 fw-bold px-5 py-3" style="color: #010f1c;">Personal Details</h5>

                    <div class="px-5 ">

                        <form [formGroup]="updateForm" (ngSubmit)="update()">
                            <div class="row g-3">
                                <!-- username -->
                                <div class="col-6 pb-3">
                                    <input type="text" class="form-control" formControlName="username"
                                        placeholder="Username">
                                </div>
                                <!-- email -->
                                <div class="col-6 pb-3">
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                                </div>
                                <!-- phone -->
                                <div class="col-8 pb-3">
                                    <input type="text" class="form-control" formControlName="phone"
                                        placeholder="Phone Number">
                                </div>
                                <!-- gender -->
                                <div class="col-4 pb-3">
                                    <select class="form-select" aria-label="Default select example">

                                        <option value="1" [selected]="arr.gender === 'female'">Female</option>
                                        <option value="2" [selected]="arr.gender === 'male'">Male</option>
                                    </select>
                                </div>
                                <!-- University -->
                                <div class="col-12 pb-3">
                                    <input type="text" class="form-control" formControlName="university"
                                        placeholder="University">
                                </div>
                                <!-- address -->
                                <div class="col-12 pb-2">
                                    <textarea class="form-control" type="text" formControlName="address"
                                        placeholder="Address"></textarea>
                                </div>
                                <!-- submit -->
                                <div class="col-12 pb-3">
                                    <button type="submit" class="btn" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" style="background-color: #010f1c;">
                                        <h5 class="text-center fs-6 m-0" style="color: white;">Update Profile</h5>
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Done..</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Data Updated Successfully
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>