<app-header></app-header>
<!-- <br>
<br>
<br> -->
<div class="position-absolute top-50 start-50 translate-middle py-5">
    <div class="card mb-3 ">
        <div class="row g-0">
            <div class="col card text-center">
                <img src="{{x.thumbnail}}" class="img-fluid rounded-start" style="max-height: 400px;max-width: 500px;" alt="...">
            </div>
            <div class="col">
                <div class="card-body text-center">
                    <h5 class="card-title">{{x.title}}</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">Price=${{x.price}}</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">Rating={{x.rating}}/5</h5>
                    <hr class="featurette-divider">
                    <h5 class="card-price">Discount Percentage={{x.discountPercentage}}%</h5>
                    <hr class="featurette-divider">
                    <a href=""><button class="btn btn-dark text-center">Buy Now</button></a>
                </div>
            </div>
            <div class="card-body card text-center">
                <h5 class="card-price">Brand={{x.brand}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Category={{x.category}}</h5>

                <hr class="featurette-divider">
                <h5 class="card-price">Stock={{x.stock}}</h5>
                <hr class="featurette-divider">
                <p class="card-text">Description={{x.description}}.</p>
            </div>

        </div>
    </div>
</div>