<app-header></app-header>
<section class="container text-center pt-3">
    <div class="card-group " style="border-radius: 1rem; background-color:#efefef;">
        <div class="card mx-3 my-3">
            
            <!-- for images carousel -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="{{productData.thumbnail}}" class="img-fluid rounded-start d-block w-100" style="max-height: 30rem;" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{productData.images[0]}}" class="img-fluid rounded-start d-block w-100" style="max-height: 30rem;" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{productData.images[1]}}" class="img-fluid rounded-start d-block w-100" style="max-height: 30rem;" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{productData.images[2]}}" class="img-fluid rounded-start d-block w-100" style="max-height: 30rem;" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{productData.images[3]}}" class="img-fluid rounded-start d-block w-100" style="max-height: 30rem;" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="text-center p-3">
                <button type="button" class="btn btn-outline-success" style="border-radius: 3rem;"
                    (click)="addCart(productData.id)">
                    + Cart
                </button>
            </div>
        </div>
        <div class="card mx-3 my-3" style="border: 0.6rem solid;border-radius: 3rem;">
            <div class="card-body">
                <h5 class="card-title">{{productData.title}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Price=${{productData.price}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Rating={{productData.rating}}/5</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Discount Percentage={{productData.discountPercentage}}%</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Brand={{productData.brand}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Category={{productData.category}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Stock={{productData.stock}}</h5>
                <hr class="featurette-divider">
                <p class="card-text">Description={{productData.description}}.</p>
            </div>
        </div>
    </div>
</section>


<!-- <section class="container text-center pt-3">
    <div class="card-group " style="border-radius: 1rem; background-color:#efefef;">
        <div class="card mx-3 my-3">
            <div class="text-center pt-3 pb-3">
                <img src="{{arr.image}}" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
        <div class="card mx-3 my-3">
            <div class="card-body">
                <h5 class="card-title">First Name = {{arr.firstName}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Last Name = {{arr.lastName}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Miden Name={{arr.maidenName}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Age = {{arr.age}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">BloodGroup= {{arr.bloodGroup}}</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">eyeColor = {{arr.eyeColor}}/5</h5>
                <hr class="featurette-divider">
                <h5 class="card-price">Gender ={{arr.gender}}</h5>
            </div>
        </div>
    </div>
</section>  -->