// .center{
//     display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 25vh;
// }

// #v-pills-tabContent {
 
//   .tab-content{
//     background-color: red;
//   .active {
//     height: 100vh;
//   }
// }
// }

.zoom-container {
  position: relative;
  overflow: hidden;
}
.zoom-image {
  transition: transform 0.3s ease;
}
.zoom-image:hover {
  transform: scale(1.3); /* Increase the scale factor as per your requirement */
  cursor: zoom-in;
}
