
.signup{
    text-align: center; 
}
h1{
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 80px;
    color:#4285f4
}
.common-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
.form-input{
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid #4285f4;
    padding-left: 15px;
    color:#4285f4
}
.form-button{
    height: 35px;
    border: 1px solid #4285f4;
    color:#4285f4;
}