<!-- <div class="form-group">
    <label for="search-text">Search Text</label>
    <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
      [(ngModel)]="filter" placeholder="Enter text to search" 
      autofocus>
</div> -->
<app-header (parentfunc)="parFunction($event)"></app-header>

<div class="center pt-5 mt-5">
    <table class="table">
        <thead>
            <tr class="px-5">
                <th scope="col" style="text-align:center">ID</th>
                <th  scope="col" style="text-align:center">firstName</th>
                <th scope="col" style="text-align:center">lastName</th>
                <th scope="col" style="text-align:center">maidenName</th>
                <th scope="col" style="text-align:center">age</th>
                <th scope="col" style="text-align:center">gender</th>
                <th scope="col" style="text-align:center">username</th>
                <th scope="col" style="text-align:center">email</th>
                <th scope="col" style="text-align:center">password</th>
                <th scope="col" style="text-align:center">phone</th>
            </tr>
        </thead>
        <tbody>
            <tr class="px-5" *ngFor="let item of list | search:filter:['id','firstName','lastName','maidenName','age','gender','username','email','password','phone']">
                <th scope="row" style="text-align:center">{{item.id}}</th>
                <td style="text-align:center">{{item.firstName}}</td>
                <td style="text-align:center">{{item.lastName}}</td>
                <td style="text-align:center">{{item.maidenName}}</td>
                <td style="text-align:center">{{item.age}}</td>
                <td style="text-align:center">{{item.gender}}</td>
                <td style="text-align:center">{{item.username}}</td>
                <td style="text-align:center">{{item.email}}</td>
                <td style="text-align:center">{{item.password}}</td>
                <td style="text-align:center">{{item.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>