<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>


<!-- -------------------------------------------------------------------------------------------------------------------------------------- -->
<div *ngIf="isLoading==false">

  <!-- <app-header (parentfunc)="parFunction($event)"></app-header> -->

  <button class="btn position-fixed bottom-0 end-0 mb-5 mx-2" (click)="scrollToTop()" *ngIf="isScrolledDown"
    style="z-index: 1;border: none;">
    <fa-icon [icon]="faArrowCircleUp" class="faArrowCircleUp fs-1" style="color:#010f1c;cursor: pointer;"></fa-icon>
  </button>

  <main>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
          <img src="../../../assets/back1.jpg" class="d-block w-100" style="height: 70vh;" alt="...">
          <div class="left-right carousel-caption row">
            <div class="col col-lg-4 text-start">
              <div class="pb-2">
                <h1 class="fw-bold" style="color: white;">The <span style="color: #e4062b">BULL'S </span>Collection 2023
                </h1>
                <h5 class="fs-6 fst-italic fw-bold" style="color: white;">Exclusive offer <span class="fs-5"
                    style="color: #e4062b;text-decoration: underline;">-70%</span> off this week.</h5>
              </div>
              <div class="pt-2">
                <img src="../../../assets/placeholder.png" class="" style="max-width: 150px;" alt="...">
              </div>
            </div>
            <div class="col ">
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="../../../assets/back2.jpg" class="d-block w-100" style="height: 70vh;" alt="...">
          <div class="right-left carousel-caption row">
            <div class="col ">
            </div>
            <div class="col col-lg-4 text-start">
              <div class="pb-2">
                <h1 class="fw-bold" style="color: #010f1c;">The <span style="color: #ea7493">BULL'S </span>Collection
                  2023
                </h1>
                <h5 class="fs-6 fst-italic fw-bold" style="color: #010f1c;">Exclusive offer <span class="fs-5"
                    style="color: #ea7493;text-decoration: underline;">-70%</span> off this week.</h5>
              </div>
              <div class="pt-2">
                <img src="../../../assets/placeholder2.png" class="" style="max-width: 150px;" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="../../../assets/back3.jpg" class="d-block w-100" style="height: 70vh;" alt="...">
          <div class="left-right carousel-caption row">
            <div class="col col-lg-4 text-start">
              <div class="pb-2">
                <h1 class="fw-bold" style="color: #377e2b;">The <span style="color: black">BULL'S </span>Collection 2023
                </h1>
                <h5 class="fs-6 fst-italic fw-bold" style="color: #377e2b;">Exclusive offer <span class="fs-5"
                    style="color: black;text-decoration: underline;">-70%</span> off this week.</h5>
              </div>
              <div class="pt-2">
                <img src="../../../assets/placeholder3.png" class="" style="max-width: 240px;" alt="...">
              </div>
            </div>
            <div class="col ">
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <section class="container">
      <div class="row">
        <div class="col text-end p-5" *ngFor="let item of categoryList">
          <a routerLink="/product/{{item}}" style="text-decoration: none;display: flex; justify-content: center;">
            <div class="upper">
              <h5 class="lower fs-6 fw-bold">{{item | titlecase}}</h5>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section *ngFor="let item of categoryList; let i = index" [ngClass]="i % 2 === 0 ? 'even' : 'odd' " id={{item}}>
      <div class="container">

        <div class="row">
          <h1 class="pb-5 pt-5 text-start fs-1 fw-bold" style="color: #010f1c;">{{item | titlecase}}</h1>
        </div>
        <div class="row">
          <div class="col-md-3" *ngFor="let itemList of  Itemfilter(item)">
            <div class="card text-center p-2 hover-div"
              style="border: none;box-shadow: 0px 30px 70px rgba(1, 15, 28, 0.1);">
              <div>
                <a routerLink="/products/{{itemList.id}}">
                  <img src="{{itemList.thumbnail}}" class="card-img-top text-end" alt="..."
                    style="height: 12rem;border: none;">
                </a>
              </div>
              <div class="card-body ">
                <a routerLink="/products/{{itemList.id}}" style="text-decoration: none;">
                  <h5 class="fs-6 fw-bold text-start" style="color: #010f1c;height: 3rem;"><small>{{itemList.title |
                      uppercase}}</small></h5>
                </a>
                <h5 class="card-title fs-5 text-start" style="color: #ffb21d;">{{itemList.rating | rating}}</h5>
                <h5 class="card-text text-start">
                  <span class="fs-6" style="color: #55585B; text-decoration: line-through;">{{itemList.price |
                    currency:
                    'USD'}}</span>
                  <span class="fs-5 px-3"
                    style="color: #010f1c;">{{((itemList.price)-((itemList.price*itemList.discountPercentage)/100))
                    | currency:'USD'}}</span>
                </h5>
              </div>
              <div class="card-footer" style="border: none;background-color: white;">
                <button class="btn w-100" style="background-color:#3d9cae" type="submit" (click)="addCart(itemList.id)">
                  <h5 class="text-center m-0 fs-6" style="color: white;">Add To Cart</h5>
                </button>
              </div>
            </div>



          </div>
        </div>
      </div>
      <div class="text-center p-3">
        <a routerLink="/product/{{item}}">
          <button class="btn" style="background-color:#010f1c" type="submit"
            onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
            <h5 class="text-center fs-6 m-0" style="color: white; display: flex;align-items: center;">See More</h5>
          </button>
        </a>
      </div>
      <hr class="featurette-divider" style="color:white">

    </section>


  </main>
</div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------- -->



<!-- 
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
        aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/back1.jpg" class="bd-placeholder-img" width="100%" height="600" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false" alt="img" srcset="">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>BULL'S COLLECTIONS</h1>
            <p>Imported Products Just a Click Away...</p>
            <p><a class="btn btn-lg btn-light" routerLink="/signup">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="../../assets/back2.jpg" class="bd-placeholder-img" width="100%" height="600" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false" alt="img" srcset="">

        <div class="container">
          <div class="carousel-caption">
            <h1>Electronic Appliances</h1>
            <p>70% off use coupon(#megaBull's).</p>
            <p><a class="btn btn-lg btn-light" routerLink="/product/laptops">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/back3.jpeg" class="bd-placeholder-img" width="100%" height="600" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false" alt="img" srcset="">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>French Essence</h1>
            <p>Our perfume is carefully crafted with Top Notes: citrusy lemon and aromatic lavender and
              bergamot, Middle Notes: geranium and spices of cedarwood, Base: Musk, Moss, and Amber.</p>
            <p><a class="btn btn-lg btn-light" routerLink="/product/fragrances">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <section *ngFor="let item of categoryList" class=" px-5 py-3" style="background-color: #efefef;" id={{item}}>
    <div class="container-fluid">

      <div  class="row" >
      <h1 class="pb-5 pt-5 text-center fs-1 fw-bold" style="color: black;">{{item | uppercase}}</h1>
    </div>
        <div class="row" style="border-radius: 1rem;">
          <div class="col-md-3" *ngFor="let itemList of  Itemfilter(item)">
            <div class="card text-center p-2" style="border-radius: 2rem;border: none;background-color:#efefef;">
              <a routerLink="/products/{{itemList.id}}" >
                <img src="{{itemList.thumbnail}}" class="card-img-top text-end" alt="..."
                  style="height: 280px;border-radius: 2rem;">
                <div class="card-body ">
                  <h5 class="fs-6 text-sm" style="height: 5rem;">{{itemList.title | uppercase}}
                  </h5>
                </div>
              </a>
              <div class="pb-5 pt-0">
                <a class="text-end"><button class="btn btn-outline-success" style="border-radius: 3rem;"
                    (click)="addCart(itemList.id)">+ Cart</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-4">
        <a routerLink="/product/{{item}}" class="btn btn-outline-secondary" style="border-radius: 3rem;">See More</a>
      </div>
      <hr class="featurette-divider" style="color:white">
 
  </section>


</main> -->