<app-header (parentfunc)="parFunction($event)"></app-header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
        aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/back1.jpg" class="bd-placeholder-img" width="100%" height="600" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false" alt="img" srcset="">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>BULL'S COLLECTIONS</h1>
            <p>Imported Products Just a Click Away...</p>
            <p><a class="btn btn-lg btn-light" routerLink="/signup">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="../../assets/back2.jpg" class="bd-placeholder-img" width="100%" height="600" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false" alt="img" srcset="">

        <div class="container">
          <div class="carousel-caption">
            <h1>Electronic Appliances</h1>
            <p>70% off use coupon(#megaBull's).</p>
            <p><a class="btn btn-lg btn-light" routerLink="/product/laptops">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/back3.jpeg" class="bd-placeholder-img" width="100%" height="600" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false" alt="img" srcset="">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>French Essence</h1>
            <p>Our perfume is carefully crafted with Top Notes: citrusy lemon and aromatic lavender and
              bergamot, Middle Notes: geranium and spices of cedarwood, Base: Musk, Moss, and Amber.</p>
            <p><a class="btn btn-lg btn-light" routerLink="/product/fragrances">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <section *ngFor="let item of categoryList" class=" px-5 py-3" style="background-color: #efefef;" id={{item}}>
    <div class="container-fluid">

      <div  class="row" >
      <h1 class="pb-5 pt-5 text-center fs-1 fw-bold" style="color: black;">{{item | uppercase}}</h1>
    </div>
        <div class="row" style="border-radius: 1rem;">
          <div class="col-md-3" *ngFor="let itemList of  Itemfilter(item)">
            <div class="card text-center p-2" style="border-radius: 2rem;border: none;background-color:#efefef;">
              <a routerLink="/products/{{itemList.id}}" >
                <img src="{{itemList.thumbnail}}" class="card-img-top text-end" alt="..."
                  style="height: 280px;border-radius: 2rem;">
                <div class="card-body ">
                  <h5 class="fs-6 text-sm" style="height: 5rem;">{{itemList.title | uppercase}}
                  </h5>
                </div>
              </a>
              <div class="pb-5 pt-0">
                <a class="text-end"><button class="btn btn-outline-success" style="border-radius: 3rem;"
                    (click)="addCart(itemList.id)">+ Cart</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-4">
        <a routerLink="/product/{{item}}" class="btn btn-outline-secondary" style="border-radius: 3rem;">See More</a>
      </div>
      <hr class="featurette-divider" style="color:white">
 
  </section>


</main>

<app-footer></app-footer>