.upper {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #010f1c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .lower {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

.even {
    background-color: rgb(61 156 174 / 16%);
}

.odd {
    background-color: white;
}

.hover-div:hover button {
    transform: scale(1.05);
    transition: 0.5s ease;
}


    .left-right {
        animation-name: example;
        animation-duration: 0.8s;
    }
    .right-left {
        animation-name: example2;
        animation-duration: 0.8s;
    }

@keyframes example {
    0% {
        left: 19%;
    }
    100% {
        left: 15%;
    }
}
@keyframes example2 {
    0% {
        right: 19%;
    }
    100% {
        right: 15%;
    }
}